.form-group
  label(for="title") 투어명
  input.form-control(type="text", name="title", placeholder="What's your question?", value=item.tourTitle)
.form-group
  label(for="question") 투어 내용
  textarea.form-control(name="content", rows="5")= item.content